<div class="well">
    <h3 class="text-center">PROJECTS</h3>

  <div class="DivWithScroll"
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b> If you're a hooper, there's a common problem of finding an adequate place to play. Sometimes the court might have no grip for your sneakers. Other times, the court might be great, but there's no net! Finally, what if you find a great park..but there's no competition?<br><br> HoopTime allows you to Find the most popular parks for basketball games in Sacramento.<br><br>This application is based on the single page, angular-seed app and is my first attempt to create an angular application.  <br><br>
      <b>Technologies:</b> AngularJS, NPM, Node.JS, Google Maps API. <br><br>
      <b>GitHub:</b> <%= link_to "HoopTime", "https://github.com/jackdhaliwal/hoopTime" %>  <br><br>
      
    <br>
    
    <hr>
    <h3>My Circle - <b>Awarded 1st Place Amazon Alexa Challenge - AngelHack Hackathon: Silicon Valley (2017) !</b>  </h3>
    <p class="text-center">
     A network of connected helpers within your reach. As trustworthiness increases, so does the strength of your neighborhood.
    </p>
      <%= image_tag("https://avatars2.githubusercontent.com/u/30558550?v=4&s=200", size: "300x300", :alt => "My Circle") %><br><br>
      
      <b>Motivation:</b> My Circle was the app that my team created at AH10 Hackathon in just over 24 hours. See the blog post below for more details!   <br><br>
      <b>Technologies:</b> Amazon Alexa, IOS, IBM Node-Red, IBM Bluemix, Twilio API. <br><br>
      <b>Blog Post:</b><%= link_to " My First Hackathon: Team My Circle", "https://medium.com/@jackdhaliwal/my-first-hackathon-team-my-circle-c2758852ee64" %>  <br><br>
      <b>GitHub:</b> <%= link_to "HoopTime", "https://github.com/mycircle-AH10" %>  <br><br>  
      
    <br>
    
    
    <hr>
    <h3>BizDirectory</h3>
    <p class="text-center">
     BizDirectory is a Ruby Wrapper gem that acts as a directory of all businesses that are registered in San Francisco, California. This is my first RubyGem.
    </p>
      
      
      <b>Motivation:</b> When I started working with Rails, I was introduced to the concept of Gems which (roughly) are self contained packages and libraries that once installed in your app, make life incredibly easy. My curiousity led me to finding how these gems are created. Following a youtube tutorial, I was able to create BizDirectory, which once installed, gives the respective app access to a directory of registered businesses in San Francisco.     <br><br>
      <b>Technologies: </b> Ruby, Rails. <br><br>
      <b>RubyGems:</b> <%= link_to "BizDirectory", "https://rubygems.org/gems/biz_directory" %><br><br>
      <b>GitHub:</b> <%= link_to "BizDirectory", "https://github.com/jackdhaliwal/biz_directory" %><br><br>
      
    <br>
    
    
    
    <hr>
    <h3>Mobile Vote Box </h3>
    <p class="text-center">
     Ask “OR” questions to groups of anonymous people and send voting data to populate Google Sheets.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b> I've always wanted to incorporate what I know about C programming into some form of hardware, and dive into the spectrum of IOT. This was my first opportunity to do so.     <br><br>
      <b>Technologies:</b> Arduino, IFTTT, Hologram Data Store/Router, Google Sheets  <br><br>
      <b>GitHub:</b> <%= link_to "Mobile Vote Box", "https://github.com/jackdhaliwal/" %><br><br>
      
    <br>
   
   </div>

</div>