
<div class="row">
    <h4><%= fa_icon "newspaper-o" %> SHARE YOUR STORY</h4>
        <div class="well">
    <%= render 'posts/write' %>
        </div>


<h4><%= fa_icon "newspaper-o" %> NEWSFEED</h4>
<div class="well">
    
    <hr>
   
  <% @posts.each do |post| %>
   
        <header>
          
        <%= image_tag(post.image_file_name, :class => 'img-responsive') unless post.image_file_name.blank? %>
          <h2><%= link_to post.title, post %> (<%= post.category %>)</h2>
          <h3><%= post.read_length %></h3>
        </header>
        <p>
          <%= truncate(post.description, length: 150, separator: ' ') %>
        </p>
        <table>
          <tr>
            <th>Category</th>
            <td><%= post.category %></td>
          </tr>
          <tr>
    
        </table>
        <footer>
        </footer>
      
   
  <% end %>
</div>




       
       
       
</div>

    

