  <header>
 
    <h1><%= @post.title %></h1>
    <h2>Released: <%= @post.description %></h2>
  </header>

  <p>
    <%= @post.description %>
  </p>
  

  
  <h3>Cast</h3>
  <p>
    <%= @post.description %>
  </p>

<%= link_to 'Edit', edit_post_path(@post), class: 'button' %>